<DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=devide-width, initial-scale=1">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-6">
          <form>
            <h1>Log In</h1>
          <div class="form-group" method="POST" action="/login">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" class="validate" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" class="validate" placeholder="Password">
          </div>
          <br>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="submit" class="btn btn-default">Register</button>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <form>
            <h1>Register</h1>
          <div class="form-group" method="POST" action="/register">
            <label for="firstName">First Name</label>
            <input type="firstName" class="form-control" id="firstName" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="lastName" class="form-control" id="lastName" placeholder="last Name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" class-"validate">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" class= "validate" placeholder="Password">
          </div>
          <br>
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>